html {
font-family: 'Noto Sans' !important;
font-size: 24px !important;
line-height: 1.42857143;
color: #333;
cursor:default;
}

body {
font-family: 'Noto Sans' !important;
font-size: 24px !important;
line-height: 1.42857143;
color: #333;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Noto Sans;
    src: url(../fonts/NotoSans-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Noto Sans;
    src: url(../fonts/NotoSans-Bold.ttf);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Noto Sans;
    src: url(../fonts/NotoSans-Medium.ttf);
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Noto Sans;
    src: url(../fonts/NotoSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal
}


.text-center{
	text-align: center;
}
.flip-book {
            /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); */
            display: none;
            background-size: cover;
            margin-bottom:0px;
        }
.font-weight-bold {
    font-weight: 700 !important;
}
        .page {
    cursor: grab;
    padding: 10px 3px 3px 2px;
    /* background-color: #ffffff; */
    color: #785e3a;
    /* border: solid 1px #c2b5a3; */
    overflow: hidden;
        }

        .page .page-content1 {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
        }

        .page .page-content1 .page-header1 {
        height: 30px;
    	font-size: 16px;
    	text-transform: uppercase;
    	text-align: center;
    	margin-top: 0;
    	margin-bottom: 0px;
        }

        .page .page-content1 .page-image {
            height: 100%;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .page .page-content1 .page-text {
            height: 90%;
            flex-grow: 1;
            font-size: 1rem;
			text-align: justify;
            margin-top: 0px;
            padding-top: 10px;
                margin-left: 5px;
            box-sizing: border-box;
            border-top: solid 1px #f4e8d7;
            color: #000
        }
        
          .page .page-content1 .page-text p {
         	line-height: 1.7;
         }
         .page .page-content1 .page-text ul {
         	padding-left: 20px;
         }
       .page .page-content1 .page-text ul li  {
         line-height: 1.5;
   		 margin-bottom: 6px;
         }

        .page .page-content1 .page-text .row {
            margin-bottom: 1rem;
        }

        .page .page-content1 .page-text .row:last-child {
            margin-bottom: 0rem;
        }

        .page .page-content1 .page-text .table-heading {
            font-size: 1.2rem
        }


        .page .page-content1 .page-text .table-content td {
            padding: 0.3rem !important;
        }

        .page .page-content1 .page-text .table-content td:nth-child(1) {
            width: 30%;
            text-align: center;
        }

        .page .page-content1 .page-text .table-content td:nth-child(2),
        .page .page-content1 .page-text .table-content td:nth-child(3),
        .page .page-content1 .page-text .table-content td:nth-child(4) {
            width: 23%;
            text-align: center;
        }

        .page .page-content1 .page-text .table-content-3col td:nth-child(1) {
            width: 30%;
            text-align: center;
        }

        .page .page-content1 .page-text .table-content-3col td:nth-child(2){
            width: 50%;
            text-align: center;
        }
        .page .page-content1 .page-text .table-content-3col td:nth-child(3) {
            width: 20%;
            text-align: center;
        }

        .page .page-content1 .page-footer {
            height: 15px;
            border-top: solid 1px #f4e8d7;
            font-size: 100%;
/*            color: #998466;*/
            color: #000;
        }

        .page.--left {
            border-right: 0;
            box-shadow: inset -7px 0 19px -10px #000;
        }

        .page.--right {
            border-left: 0;
          box-shadow: inset 0px 0 30px -10px #000
        }

      #fb5 .fb5-page-book .page-footer {
           text-align: center ;
    border-top: 1px solid #7d7676;
    padding-top: 10px;
    bottom:0px;
    position: absolute;
    width:100%;
        }

        .page.hard {
            background-color: #f2e8d9;
            border: solid 1px #998466;
        }

		 .page.page-cover {
		    /*    background-image: url(../../images/citizencharter/front1.png) !important;
			 background-origin: content-box  !important;
			 background-repeat: no-repeat  !important;
			 background-size: 100% 100%  !important;
		 
          background-color: #e3d0b5;
            color: #785e3a;
            border: solid 1px #998466; */
        }

        .page.page-cover h2 {
            text-align: center;
            padding-top: 50%;
            font-size: 210%;
        }

        .page.page-cover.page-cover-top {
            box-shadow: inset 0px 0 30px 0px #240a03, -2px 0 5px 2px #000;
            height: 100%;
        }

        .page.page-cover.page-cover-bottom {
           box-shadow: inset 0px 0 30px 0px #240a03, -2px 0 5px 2px #000;
           height: 100%;
        }

        .page-cover-top .page-content1,
        .page-cover-bottom .page-content1 {
            display: block;
            text-align: center;
        }
        .cont-footer {
        bottom: 60px !important;
    position: absolute!important;
    /* text-align: center !important; */
    /* margin: 0 auto; */
    width: 100%;
    }
        .page-cover-logo{
           max-width: 200px;
    margin: 0 auto;
    margin-top: 10%
        }

        .page-cover-heading{
            padding-top: 20px !important;
            font-weight: bold;
        }

        .page-cover-sub-heading{
            padding-top: 100px !important;
            /* border-bottom: 1px solid #000; */
            display: inline-block;
        }
		.page-img{
			max-height: 100%;
		}
		
		.page-00-img{
			margin-top: 25%;
		}
		.dairy-address{
			margin-top: 45%;
    text-align: center;
		}
		
		
		/***** start key contact css **************/
		.inner-page-contents {
    padding: 0;
    margin-bottom: 25px;
    text-align: justify;
}
.inner-page-contents .page-heading {
    margin-bottom: 30px;
    display: none;
}
.inner-page-contents .page-heading h1 {
    font-size: 2em;
    padding-left: 15px;
    border-left: 4px solid #333;
    margin-bottom: 0;
    background-color: #feb04c;
    line-height: 1.3em;
    margin-top: 20px;
    font-weight: bold;
}

/* .table-customized   {
max-height: 526px;
    display: block;
    overflow-y: scroll;
} */
		
		.table th, .table td {
    padding: 5px 10px !important;
     border: 1px solid #ccc2c2;
		}
		
 .table th{  
	background: #ececec;  
    text-align: center;
    vertical-align: middle;
 }
 
 
		.table-bordered{
		    border: 1px solid #ccc2c2;
		    width: 100%;
		    }
		/**** end key cotact css **************/
		
		
/**** start key contact table css ***/
/**** HTL key contact *****/
#showContent .table {
	max-height: 800px;
    display: block;
    overflow-y: scroll;
}
/***** RBD Key contact ****/
#showContentRbd .table {
	max-height: 670px;
    display: block;
    overflow-y: scroll;
}
/****** GTL key contact ***/
#showContentGtl .table {
	max-height: 535px;
    display: block;
    overflow-y: scroll;
}
/****** PTR Key contact ***/
#showContentPtr .table {
	max-height: 1050px;
    display: block;
    overflow-y: scroll;
}
/****** e-Mutation Key contact ***/
#showContentEmt .table {
	max-height: 555px;
    display: block;
    overflow-y: scroll;
}
/****** Tehbazari Permits Key contact ***/
#showContentTbz .table {
	max-height: 380px;
    display: block;
    overflow-y: scroll;
}
/****** Hawking Permits Key contact ***/
#showContentHp .table {
	max-height: 720px;
    display: block;
    overflow-y: scroll;
}
/****** Factory license Key contact ***/
#showContentFl .table {
	max-height: 1050px;
    display: block;
    overflow-y: scroll;
}
/****** Veterinary License Key contact ***/
#showContentVl .table {
	max-height: 590px;
    display: block;
    overflow-y: scroll;
}
/****** Registration of Pets Key contact ***/
#showContentRpet .table {
	max-height: 1050px;
    display: block;
    overflow-y: scroll;
}
/****** Community Hall Booking Key contact ***/
#showContentChb .table {
	max-height: 600px;
    display: block;
    overflow-y: scroll;
}
/****** Issuance of construction permits Key contact ***/
#showContentIcp .table {
	max-height: 890px;
    display: block;
    overflow-y: scroll;
}
/****** Issuance of licenses/permission for Self Signage Key contact ***/
#showContentIlps1 .table {
	max-height: 1050px;
    display: block;
    overflow-y: scroll;
}

/****** Permission for Tower/ COW/ GBM installation Key contact ***/
#showContentPtcgi1 .table {
	max-height: 340px;
    display: block;
    overflow-y: scroll;
}

/****** Registration of Architect Key contact ***/
#showContentRata .table {
    overflow-y: scroll;
}

/****** Conversion and Parking Charges Key contact ***/
#showContentCnp .table {
	max-height: 340px;
    display: block;
    overflow-y: scroll;
}


		
		
/**** end key contact table css ****/