Options -Indexes +FollowSymLinks
RewriteEngine On

# This MUST match the URL path in your browser
RewriteBase /vajra-mcd/vajra-mcd/portal/vault/

# If the request is not a real file, send it to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]